header{ 
    background-color: #b4cbc5;
    color: #013005;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

    main {
  background-color: #FFFFFF;
  color: #035ebe;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

img {
  display: block;
  width: 250px;
  margin: 0 auto;
  border: 4px solid #090435;
  height: 300px;
  
}
